.modal{
    transition: all ease 2s 0s;
    color:black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_div{
        border-radius: 10px;
        background-color: white;
        height: 70vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .modal_title{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px;
            font-size: 3vh;
            height: 10%;
            width: 90%;
            border: 2px solid #f9e000;
        }
        .modal_body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 60%;
            width: 90%;
            border: 2px solid #f9e000;
            margin: 5px;
            .modal_body_time{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;
            }
            .modal_button_start{
                text-align: center;
                margin:10px;
                padding: 2px;
            }        
            .modal_button_end{
                text-align: center;
                margin:10px;                
                padding: 2px;
            }
            .modal_body_add_data{
                cursor: pointer;
                width: 50%;
                height: 30%;
                background-color: #f9e000;
                border:#f9e000;
                border-radius: 5px;
            }
            .modal_body_add_data:hover{
                background-color: #f9e000;
            }
            .modal_calendar{
                display: flex;
                flex-direction: column;
                border: 2px solid #f9e000;
                background-color: #f9e000;
                border-radius: 5px;
                padding: 5px;
                font-size: 10px;
                        .calendar_body_head{
                            color : rgb(15, 15, 15);
                            display: flex;
                            .calendar_body_head_days{
                                width: 100%;
                                font-size: 20px;
                            }
                        }
                        .calendar_body_line{
                            display:flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;
                            .calendar_body_days{
                                display:flex;
                                flex-direction: column;
                                width: 100%;
                                height:100%;
                                font-size: 20px;
                                margin:2px;
                                padding: 1px;
                            }
                            .calendar_body_days :hover{
                                cursor: pointer;
                                border-radius: 5px;
                                background-color: #f9e000;
                            }
                
                        }
            }
        }
        .modal_footer{
            border: 2px solid #f9e000;
            width: 90%;
            margin: 5px;
            height: 20%;
        }
    }
}

.text_area{
    font-size: 15px;
    margin: 10px;
    text-align: center;
    width: 80%;
    height: 20%;
}

.time_picker{
    display: flex;
    justify-content: center;
    .time_picker_time{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.modal_body_time_start{
    background-color: #f9e000;
    border-radius: 20px;
    margin: 10px;
}