.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_div{
        background-color: white;
        height: 90vh;
        width: 90vw;
        display: flex;
        justify-content: center;
        .modal_title{
            font-size: 3vh;
            height: 10%;
            width: 100%;
        }
    }
}